:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-poppins) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.heroSection .swiper-button-next:after, .swiper-button-prev:after {
  display: none;
}
/*************services*************/
.thumbnail-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.portfolio {
  transition: all 0.4s ease;
  margin-block: 30px;
}
.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  border-radius: 5px;
  transition: all 0.4s ease;
}
.thumbnail:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(45, 45, 45, 0.35);
  content: "";
  display: block;
  border-radius: 5px;
  background-color: rgba(25, 25, 25, 0.37);
  z-index: 1;
  transition: all 0.5s ease;
}
.portfolio:hover .thumbnail:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6004c;
  background: linear-gradient(#f6004c 10%, #000);
  opacity: 0.5;
  z-index: 1;
  transition: all 0.4s ease;
}
.portfolio:hover .thumbnail-inner {
  transform: scale(1.07);
}

/*******button*******/

.button {
  padding: 8px 25px !important;
  font-weight: 500;
  transition: 0.3s !important;
  color: #c6c9d8 !important;
  border: 2px solid #c6c9d8 !important;
}

.button:hover {
  background-color: #f9004d !important;
  border: 2px solid #f9004d !important;
  color: #ffffff !important;
  transform: translateY(-5px);
  font-weight: 500;
}
.underline {
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 1px;
  width: 100%;
  height: 10px;
  background-image: linear-gradient(to right, #94AADB, #EBA0A0);
  border-radius: 2px;
  z-index: -1;
}

.bgbox{
  background:linear-gradient(90deg , #FBE0DF , #fff);
  color:#E64039;
  font-weight: 500;
  justify-content:center;
  width:220px;
  padding-block: 10px;
  border-radius:35px;
  margin-bottom:25px;
  display: flex;
  align-items : center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-icon {
  animation: rotate 1s linear infinite;
}